:root {
  --color-red: #ef4444;
  --color-red-2: #7f1d1d;
  --color-white: #ffffff;
  /* --color-slate: #020617; */
  --color-slate: #03081b;
  --color-slate-2: #0f172a;
  --color-slate-3: #cbd5e1;
  --color-slate-4: #f1f5f9;
  --color-blue: #3b82f6;
  --color-blue-2: #172554;
}

/********* RESET *********/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
input,
button,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

/*************/
html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  color: var(--color-white);
  background-color: var(--color-slate);
  overflow-x: clip;
}

::-webkit-scrollbar {
  width: 0.9rem;
  background-color: var(--color-slate-2);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-red);
  border-radius: 3rem;
}

.red {
  color: var(--color-red);
}

.blue {
  color: var(--color-blue);
}

.container {
  max-width: 120rem;
  padding-inline: 3rem;
  margin: 0 auto;
}

.svg-container {
  display: flex;
  align-items: center;
}

/********************* HEADER ***********************/
.header {
  display: flex;
  align-items: center;
  height: 9rem;
  width: 100%;
  z-index: 100;
  color: var(--color-slate-3);
  position: sticky;
  top: 0;
  transition: height 0.3s, opacity 0.3s;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.fixed.header {
  opacity: 0.9;
  height: 8rem;
  background-color: var(--color-slate-2);
}

.header-name {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: var(--color-white);
  font-size: 2rem;
  font-weight: 500;
  transition: all 0.3s;
  animation: opacityAnime 0.5s backwards;
}

.header-name:hover {
  color: var(--color-red);
}

.navbar-list {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.navbar-link {
  font-weight: 600;
  padding: 0.5rem;
  letter-spacing: 0.05em;
  transition: all 0.3s;
  position: relative;
}

.navbar-link:hover {
  color: var(--color-red);
}

.navbar-link::after {
  content: '';
  scale: 0;
  border: 1px solid var(--color-red);
  width: 100%;
  border-radius: 1px;
  transition: all 0.3s;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
}

.navbar-link:hover::after {
  scale: 1;
}

.btn-menu {
  color: var(--color-slate-3);
}

.hidden {
  display: none;
}

.btn-menu {
  display: none;
  width: 4rem;
  height: 4rem;
  color: var(--color-slate-3);
}

.btn-menu:focus {
  color: var(--color-red);
}

/********************* HERO ***********************/
.hero {
  display: flex;
  padding-top: 9rem;
  padding-bottom: 6rem;
  padding-inline: 8rem;
  justify-content: space-between;
  align-items: flex-start;
}

.hero-title {
  margin-bottom: 2rem;
  font-weight: 600;
  padding-top: 7rem;
  line-height: normal;
}

.hero-container {
  max-width: 50%;
}

.hero-title {
  padding-top: 2rem;
  text-wrap: balance;
}

.hero-dev {
  font-size: 6rem;
  animation: opacityAnime 0.4s ease-in-out 0.3s backwards;
}

.hero-name {
  font-size: 6rem;
  display: block;
  animation: opacityAnime 0.4s ease-in-out 0.7s backwards;
}

.hero-description {
  color: var(--color-slate-3);
  font-size: 1.8rem;
  margin-top: 4rem;
  max-width: 52rem;
  animation: opacityAnime 0.4s ease-in-out 0.7s backwards;
}

.hero-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  gap: 2.5rem;
  padding-top: 4.5rem;
}

.list-item {
  color: #eb3b3b;
  border: 2px solid #751a1a;
  animation: slideUp 0.8s ease-in-out 1.7s backwards;
}

.link {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  background-color: var(--color-slate);
  padding-block: 1rem;
  padding-inline: 2.5rem;
  transition: all 0.3s;
}

.link:hover {
  background-color: var(--color-slate-2);
  color: var(--color-slate-3);
}

.link:active {
  background-color: var(--color-slate);
  color: var(--color-red);
}

.purple-link.project-code,
.purple-link.list-item {
  color: #b416b4;
  border-color: #800e80;
}

.purple-link.list-item {
  animation-delay: 1.1s;
}

.blue-link.list-item {
  color: #4789d4;
  border-color: #0e4980;
  animation-delay: 1.4s;
}

.hero-image {
  display: flex;
  position: relative;
  max-width: 30rem;
  animation: opacityAnime 0.4s ease-in-out 0.4s backwards;
}

.hero-image::after,
.about-photo::after {
  content: '';
  position: absolute;
  top: 2rem;
  left: 2rem;
  background-image: linear-gradient(#18181b, 80%, #630e087c);
  width: 100%;
  height: 100%;
  border: 2px solid #7f1d1dbe;
  mask-image: linear-gradient(transparent, 55%, black);
  z-index: -1;
}

.hero-photo {
  width: 100%;
  object-fit: contain;
}

/********************* ABOUT ************************/
.section {
  transition: transform 1s, opacity 1s;
}

.hide-section {
  opacity: 0;
  transform: translateY(5rem);
}

.opacity-hidden {
  opacity: 0;
}

.section-title {
  text-align: center;
  padding: 4rem;
  font-size: 4.5rem;
  padding-top: 8rem;
  font-weight: 500;
}

.title-about {
  animation: opacityAnime 1s ease-in-out backwards;
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-slate-3);
  gap: 8rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.about-text {
  width: 60%;
}

.about-name {
  color: var(--color-white);
  font-size: 2.5rem;
  font-weight: 500;
  padding-block: 2rem;
  margin-bottom: 0.5rem;
  position: relative;
}

.about-name::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 8rem;
  height: 0.3rem;
  background-color: var(--color-red);
}

.paragraph {
  margin-bottom: 2rem;
}

.about-photo {
  max-width: 25rem;
  position: relative;
  margin-right: 4rem;
}

.photo {
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

.academic {
  border: 1px solid #07346e80;
  padding: 2rem;
  margin-top: 3rem;
  border-radius: 5px;
}

.academic-title {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-bottom: 1rem;
}

.list-courses {
  padding-top: 3rem;
  padding-bottom: 6rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  gap: 2.5rem;
  border-radius: 3px;
}

.courses-item {
  color: var(--color-slate-3);
  padding: 2rem;
  transition: 0.3s all;
  background-color: var(--color-slate-2);
  border-radius: 5px;
  border-top: 4px solid var(--color-blue-2);
  position: relative;
}

.courses-item:hover {
  color: var(--color-white);
}

.courses-title {
  font-weight: 500;
  margin-right: 3.5rem;
  text-wrap: balance;
}

.courses-time {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  padding: 1rem;
  border-radius: 3px;
  border: 1px solid var(--color-blue-2);
}

.courses-info {
  margin-top: 1.1rem;
  opacity: 0.8;
  color: inherit;
}

/********************* PROJECTS ***********************/
.projects {
  padding-block: 4rem;
}

.project-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 10px;
  padding: 3.5rem;
  border-top: 2px solid #7f1d1dbe;
  gap: 3.5rem;
  margin-bottom: 6rem;
  color: var(--color-slate-3);
  position: relative;
}

.project-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(#18181b, 80%, #630e087c);
  width: 100%;
  height: 100%;
  border: 2px solid #7f1d1dbe;
  mask-image: linear-gradient(transparent, 55%, black);
  z-index: -1;
}

.project-title {
  font-size: 3rem;
  font-weight: 500;
  padding-block: 2rem;
  margin-bottom: 0.5rem;
  position: relative;
  color: var(--color-blue);
}

.project-title::before {
  content: '';
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 8rem;
  height: 0.3rem;
  background-color: var(--color-blue);
}

.project-link {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}

.project-image {
  object-fit: cover;
  max-width: 100%;
  transition: 0.3s all;
}

.project-image:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.order {
  order: 2;
}

.list-tech {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-top: 1rem;
}

.tech-item {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  gap: 1rem;
  background-color: var(--color-slate-2);
  padding: 0.8rem 1rem;
  border-radius: 5px;
  transition: 0.2s all;
}

.tech-item:hover {
  color: var(--color-white);
}

.project-links {
  display: flex;
  flex-wrap: wrap;
  margin-top: 3rem;
  gap: 2rem;
}

.project-code {
  color: var(--color-red);
  border: 2px solid var(--color-red-2);
  border-radius: 3px;
}

.code-link {
  background-color: #040a24;
  padding: 0.6rem 1.4rem;
}

/*********************  SKILLS  ************************/
.skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 4rem;
  padding-top: 4rem;
  padding-bottom: 7rem;
  padding-inline: 12rem;
}

.skills-item {
  display: flex;
  flex-flow: column;
  gap: 3.5rem;
  background-image: linear-gradient(to bottom left, #0f172a, #03081b);
  padding: 3.5rem 2rem;
  color: var(--color-slate-3);
  border-radius: 5px;
  border-top: 4px solid var(--color-blue-2);
}

.item-span {
  grid-column: span 2;
}

.skills-title {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  gap: 1rem;
}

.skills-svg {
  background-color: var(--color-slate);
  padding: 2.5rem;
  border-radius: 50%;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.skills-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--color-slate-3);
  transition: 0.2s all;
}

.skills-list-item:hover {
  color: var(--color-white);
}

/******************** CONTACT ***********************/

.contact {
  padding-top: 5rem;
  padding-inline: 25rem;
  padding-bottom: 20rem;
}

.contact-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 4rem;
  gap: 4rem;
  border: 1px solid #07346e80;
  border-radius: 3px;
}

.contact-link {
  font-size: 1.8rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-block: 1.4rem;
  padding-inline: 1rem;
  transition: all 0.3s;
  border-radius: 7px;
  background-color: var(--color-red-2);
  width: 25rem;
}

.contact-link:hover {
  background-color: var(--color-red);
  color: var(--color-slate);
}

/******************** FOOTER ************************/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-slate-2);
  padding: 3rem;
  gap: 3rem;
  color: var(--color-slate-3);
}

.footer-madeby {
  font-size: 2rem;
  font-weight: 500;
}

.footer-links-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-link-item {
  display: flex;
  align-items: center;
  transition: 0.2s all;
}

.footer-link-item:hover {
  transform: scale(1.1);
  color: var(--color-red);
}

.footer-link-item:active {
  color: var(--color-blue);
}

/****************  MEDIA QUERIES  *********************/
@media screen and (max-width: 1280px) {
  body {
    font-size: 1.4rem;
  }

  .hero-dev,
  .hero-name {
    font-size: 4rem;
  }

  .hero {
    padding-inline: 12rem;
  }

  .hero-image {
    max-width: 27rem;
  }

  .hero-image::after,
  .about-photo::after {
    top: 1.5rem;
    left: 1.5rem;
  }

  .section-title {
    font-size: 4rem;
  }

  .contact {
    padding-inline: 15rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 90rem;
  }

  .hero {
    gap: 3rem;
    padding-inline: 4rem;
  }

  .hero-image {
    max-width: 25rem;
  }

  .hero-description {
    font-size: 1.6rem;
  }

  .svg-hero {
    width: 2.6rem;
    height: 2.6rem;
  }

  .about-photo {
    max-width: 22rem;
    margin-right: 1.5rem;
  }

  .project-container {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .order {
    order: initial;
  }

  .skills {
    padding-inline: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .skills-icon {
    width: 5.2rem;
    height: 5.2rem;
  }

  .contact {
    padding-inline: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-inline: 2.4rem;
  }

  .navbar-list {
    font-size: 1.6rem;
    padding: 3rem;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    background-color: var(--color-slate);
    gap: 5rem;
    justify-content: center;
    transition: all 0.4s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .mobile-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .btn-menu {
    display: block;
    position: relative;
    z-index: 5;
  }

  .hero-container {
    max-width: 100%;
  }

  .hero-image {
    display: none;
  }

  .about-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-top: 0rem;
    margin-bottom: 4rem;
  }

  .about-text {
    width: 100%;
  }

  .item-span {
    grid-column: initial;
  }

  .skills {
    padding-inline: 0rem;
    grid-template-columns: 1fr;
  }

  .footer-madeby {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .project-container {
    padding: 2rem;
  }

  .hero-dev,
  .hero-name,
  .section-title {
    font-size: 3.2rem;
  }

  .hero-list {
    gap: 2rem;
  }

  .about-name {
    font-size: 2rem;
  }

  .project-title {
    font-size: 2.5rem;
  }
}

/*************** ANIMATIONS ********************/
@keyframes slideRight {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideRight 0.5s ease-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideLeft 0.5s ease-out;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(0.3rem);
  }

  50% {
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacityAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
