:root {
  --color-primary: #ef4444;
  --color-secundary: #fff;
  --color-secundary-dark: #d4d4d4;
  --color-tertiary: #0f172a;
  --color-tertiary-2: #450a0a42;

  --color-border: #020617;
  --color-border-2: #7f1d1d;
  --color-shadow: #000000;

  --color-background-1: linear-gradient(45deg, #060d1f, #020617);
  --color-background-2: linear-gradient(135deg, #020617, #060d1f);
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: calc(1em + 0.6rem);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  background: linear-gradient(45deg, #0f172a, #020617);
  /* scroll-behavior: smooth; */
}

.modo-claro {
  --color-secundary: #334155;
  --color-secundary-dark: #0f172a;
  --color-tertiary: #ffffff;
  --color-tertiary-2: #fff9f4;

  --color-border: #1f1f1f4d;
  --color-border-2: #fcd34d;
  --color-shadow: #d1d5db;

  --color-background-1: linear-gradient(45deg, #fff7f7 40%, #f7f7f7);
  --color-background-2: linear-gradient(135deg, #fffbfb 60%, #fff7f7);
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--color-secundary);
  overflow-x: hidden;
  background: var(--color-background-1);
}

::-webkit-scrollbar {
  width: 0.9rem;
  background-color: var(--color-tertiary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 3rem;
}

.container {
  max-width: 130rem;
  margin: 0 auto;
}

.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cabecalho {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10rem;
  padding: 0 7rem;
  background-color: var(--color-tertiary);
  z-index: 100;
  color: var(--color-secundary);
  /* position: fixed; */
}

.cabecalho > * {
  color: var(--color-secundary-dark);
}

.cabecalho__nome {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: all 0.2s;
  animation: AnimaOpacidade 1s;
}

.cabecalho__nome:hover {
  color: var(--color-primary);
}

.cabecalho__menu {
  display: flex;
  gap: 2rem;
  align-items: center;
  list-style: none;
  animation: AnimaOpacidade 1s;
}

.cabecalho__menu *:focus {
  color: var(--color-primary);
}

.cabecalho__link {
  font-weight: 600;
  color: inherit;
  text-decoration: none;
  padding: 0.5rem;
  transition: color 0.3s;
}

.cabecalho__link:hover {
  color: var(--color-primary);
  border-bottom: 2px solid #aa0000;
}

.cabecalho__linha {
  border: 1px solid var(--color-secundary-dark);
  padding-top: 1.6em;
  margin-left: 0.5rem;
}

.toggle-modo {
  display: block;
  background-color: transparent;
  border: 2px solid transparent;
  color: var(--color-secundary-dark);
  width: 4rem;
  height: 4rem;
  padding: 0.7rem;
  transition: color 0.3s, background-color 0.3s;
  cursor: pointer;
}

.toggle-modo:hover {
  color: var(--color-primary);
  background-color: var(--color-tertiary);
  border-radius: 5px;
}

.toggle-modo:focus {
  border: 2px solid var(--color-primary);
  border-radius: 5px;
}

.hidden {
  display: none;
}

/********************* INICIO ***********************/
#inicio {
  min-height: calc(100vh - 10rem);
  min-height: calc(100svh - 10rem);
  background: var(--color-background-1);

  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 1.4rem;
}

span {
  color: var(--color-primary);
  display: inline-block;
}

.inicio__nome {
  text-align: center;
  font-size: 3.8rem;
  font-weight: 400;
}

.inicio__titulo {
  text-align: center;
  font-size: 6rem;
  letter-spacing: 0.2rem;
  margin-bottom: 2rem;
  font-weight: 600;
  animation: AnimaOpacidade 0.5s;
}

.inicio__descricao {
  color: var(--color-secundary-dark);
  letter-spacing: 0.1rem;
  text-align: center;
  font-size: 1.8rem;
  width: 100rem;
  margin-bottom: 2rem;
}

.inicio__redes {
  gap: 1.5em;
  padding: 0rem 1rem 0.5rem;
}

.links {
  text-align: center;
  color: var(--color-secundary);
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-decoration: none;
  border-radius: 0.2rem;
  padding: 0.7rem 1rem;
  transition: 0.3s all;
  width: 15rem;
  font-weight: 600;
  animation: moverAcima 1s ease-out backwards;
}

.links:hover {
  transform: translateY(-3px);
}

.links:hover:active {
  transform: translateY(-1px);
  color: var(--color-secundary);
}

.inicio__icon {
  font-size: 2.5rem;
}

.inicio__redes-linkedin {
  color: rgb(77, 142, 163);
  border: 2px solid rgb(77, 142, 163);
  animation-delay: 0.3s;
}

.inicio__redes-linkedin:hover {
  color: rgb(147, 204, 223);
  border: 2px solid rgb(147, 204, 223);
}

.inicio__redes-github {
  color: rgb(151, 61, 235);
  border: 2px solid rgb(151, 61, 235);
  animation-delay: 0.6s;
}

.inicio__redes-github:hover {
  color: rgb(180, 100, 255);
  border: 2px solid rgb(180, 100, 255);
}

.inicio__redes-email {
  color: #ff6767;
  border: 2px solid var(--color-primary);
  animation-delay: 0.9s;
}

.inicio__redes-email:hover {
  color: #ff8080;
  border: 2px solid var(--color-primary);
}

/********************* SOBRE MIM ************************/
.section {
  border-top: 1px solid rgba(29, 0, 0, 0.05);
  padding-top: 5rem;
  transition: transform 1s, opacity 1s;
}

.sobre-mim {
  background: var(--color-background-2);
}

.esconder {
  opacity: 0;
  transform: translateY(5rem);
}

.section__titulo {
  letter-spacing: 0.1rem;
  text-align: center;
  padding: 4rem;
  font-size: 4.5rem;
  font-weight: 500;
}

.sobre-mim__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.sobre-mim__texto,
.formacao-atual {
  color: var(--color-secundary-dark);
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  padding: 3rem 2.8rem;
  margin: 3rem 0rem;
  background-color: var(--color-tertiary);
  border-radius: 10px;
}

.sobre-mim__texto {
  max-width: 80rem;
  margin-top: 5rem;
}

.paragrafo:not(:last-child) {
  margin-bottom: 2rem;
}

.sobre-mim__meu-nome,
.titulo-formacao-atual {
  position: relative;
  color: var(--color-secundary);
  font-size: 2rem;
  font-weight: 500;
  margin: 0 auto 2rem auto;
  padding-bottom: 1rem;
}

.sobre-mim__meu-nome::before {
  content: '';
  position: absolute;
  top: 3rem;
  border: 0.2rem solid var(--color-primary);
  width: 20rem;
}

.sobre-mim__lista {
  display: flex;
  margin: 0.5rem;
  gap: 2rem;
  list-style: none;
}

.sobre-mim__icon {
  font-size: 5rem;
  width: 5rem;
  transition: all 0.5s;
}

.sobre-mim__icon:hover {
  color: var(--color-primary);
}

.sobre-mim__foto {
  max-width: 38rem;
  height: auto;
  margin: 2.5rem 0;
  display: block;
  border-radius: 50px 0 0 50px;
  border: 4px solid #991b1b;
  box-shadow: 0.4rem 1rem 2rem var(--color-shadow);
  animation: AnimaOpacidade 1s ease-out backwards;
}

/******************* FORMAÇÃO ACADÊMICA ***********************/
.sobre-mim__formacao {
  margin: 3rem 0 3rem;
  padding: 1rem;
  border-top: 1px dashed var(--color-border);
}

.titulo-formacao {
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  color: var(--color-secundary);
  width: 100%;
  margin-top: 2rem;
}

.formacao-atual {
  margin: 6rem 3rem 4rem;
}

.titulo-formacao-atual {
  color: #fbbf24;
  border: none;
}

.sobre-mim__cursos {
  margin-top: 3rem;
  font-size: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2.5rem;
  border-radius: 3px;
}

.cursos__titulo {
  font-weight: 500;
}

.cursos__info {
  display: block;
  margin-top: 1rem;
  color: inherit;
}

.formacao-cursos {
  color: var(--color-secundary-dark);
  border: 2px solid var(--color-border);
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 30rem;
  transition: 0.3s all;
}

.formacao-cursos:hover {
  border: 2px solid var(--color-secundary-dark);
  color: var(--color-secundary);
}

/*********************  HABILIDADES  ************************/
.habilidades__container {
  padding: 2rem;
  width: 100%;
  margin-bottom: 6rem;
}

.habilidades-titulo {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
  color: #0284c7;
  margin-bottom: 2rem;
}

.habilidades-paragrafo {
  margin: 3rem;
  font-size: 1.8rem;
  text-align: center;
  color: var(--color-secundary-dark);
}

.habilidades {
  gap: 5rem;
  box-shadow: 0 0.5rem 1rem var(--color-shadow);
  padding: 1.5rem;
  border-radius: 1rem;
}

.habilidades-info {
  text-align: center;
}

.habilidades-nome {
  font-size: 1.8rem;
  font-weight: 400;
  color: var(--color-secundary-dark);
}

.habilidades-icone {
  width: 10rem;
  height: auto;
  margin: 1rem;
  border-radius: 3rem;
  transition: 0.3s;
}

.habilidades-icone:hover {
  transform: scale(1.1);
  background-color: #1e40af25;
}

/********************* PROJETOS ***********************/
.projetos {
  background: var(--color-background-1);
}

.span-projetos {
  color: #fcd34d;
}

.projetos__container {
  padding: 1rem 0;
}

.projeto__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  padding: 3rem 1.5rem;
  margin: 1rem;
  margin-bottom: 6rem;
  border-top: 2px solid var(--color-border-2);
  border-bottom: 2px solid var(--color-border-2);
  background-color: var(--color-tertiary-2);
  gap: 2rem;
}

.row-reverso {
  flex-wrap: wrap-reverse;
}

.projetos__informacao {
  width: 55rem;
  padding: 1rem;
}

.projetos__titulo {
  text-align: center;
  font-size: 3rem;
  font-weight: 500;
  padding: 2rem;
}

.projetos__texto {
  color: var(--color-secundary-dark);
  font-size: 1.8rem;
  line-height: 1.5;
  padding: 1rem;
}

.projetos__titulo-tecnologias {
  color: #0284c7;
  padding-bottom: 1rem;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.projetos__tecnologias {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.tecnologias {
  display: block;
  width: 4rem;
  margin: 0 0.5rem;
  transition: 0.4s all;
}

.tecnologias:hover {
  opacity: 0.5;
  transform: translateY(-0.5rem);
}

.projetos__imagem {
  display: block;
  width: 55rem;
  border-radius: 10px 10px;
  transition: 0.3s all;
}

.projetos__imagem:hover {
  transform: scale(1.05);
}

.img-link {
  display: flex;
  justify-content: center;
}

.order {
  order: 2;
}

/********************* CONTATO ************************/
.contato {
  background: var(--color-background-2);
}

.contato__container {
  display: flex;
  justify-content: center;
  padding: 2.5rem;
}

.contato__form {
  display: flex;
  flex-direction: column;
  width: 100rem;
  gap: 1rem;
  margin-bottom: 6rem;
}

.contato__label {
  color: var(--color-secundary-dark);
  font-size: 1.8rem;
  font-weight: 400;
}

.contato__input {
  border: 0;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.8rem;
  outline: none;
  color: var(--color-secundary-dark);
  background-color: var(--color-tertiary);
}

.mensagem {
  height: 15rem;
  margin-bottom: 4rem;
}

.contato__btn {
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
  background: linear-gradient(to right top, rgb(221, 0, 0), rgb(238, 130, 130));

  border: 3px solid rgb(90, 0, 0);
  border-radius: 4px;
  color: #fff;
  width: 20rem;
  align-self: center;
  transition: 0.4s all;
}

.contato__btn:hover {
  background: linear-gradient(to right top, rgb(255, 95, 95), rgb(255, 0, 0));
  border: 3px solid rgb(0, 0, 0);
  transform: translateY(-0.5rem);
  box-shadow: 0 0.5rem 1rem var(--color-shadow);
}

/******************** RODAPÉ ************************/
.rodape {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-tertiary);
  height: 10rem;
}

.creditos {
  color: var(--color-secundary-dark);
  font-size: 2rem;
  font-weight: 500;
}

/****************  MEDIA QUERIES  *********************/
@media screen and (max-width: 1280px) {
  html {
    font-size: 56.25%;
  }

  .sobre-mim__texto {
    max-width: 70rem;
  }

  .container {
    max-width: 120rem;
  }

  .sobre-mim__container {
    gap: 2.5rem 1.5rem;
  }
}

@media screen and (max-width: 1024px) {
  html {
    font-size: 50%;
  }

  .sobre-mim__texto {
    max-width: 80rem;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .formacao-atual,
  .sobre-mim__formacao {
    margin-top: 3rem;
  }

  .container {
    max-width: 90rem;
  }

  .projetos__informacao,
  .projetos__imagem {
    width: 76.5rem;
  }

  .projetos__texto {
    text-align: center;
  }

  .inicio__descricao {
    width: 80%;
  }

  .sobre-mim__foto {
    border-radius: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .cabecalho__link {
    display: none;
  }

  .inicio__nome,
  .inicio__titulo {
    width: 100%;
  }

  .inicio__descricao {
    width: 95%;
  }

  .projetos__container {
    max-width: 83rem;
  }

  .projetos__informacao,
  .projetos__imagem {
    width: 70rem;
  }
}

@media screen and (max-width: 640px) {
  .inicio__titulo {
    width: 80%;
  }

  .projetos__informacao,
  .projetos__imagem {
    width: 95%;
  }

  .projetos__imagem-order {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .sobre-mim__formacao {
    flex-flow: row wrap;
  }

  .formacao-cursos {
    width: 25rem;
    padding: 1rem;
  }

  .contato__container {
    width: 85%;
  }
}

@media screen and (max-width: 480px) {
  .inicio__nome {
    font-size: 3rem;
  }

  .inicio__titulo {
    width: 100%;
    font-size: 5rem;
    letter-spacing: 0;
  }

  .inicio__descricao {
    font-size: 1.5rem;
  }

  .formacao-cursos {
    width: 30rem;
  }

  .projeto__container {
    padding: 2rem 1rem;
    margin: 1rem;
    margin-bottom: 5rem;
  }

  .section__titulo {
    padding: 3rem;
    font-size: 4rem;
  }
}

/*************** ANIMAÇÕES ********************/
@keyframes slideParaDireita {
  from {
    transform: translateX(-100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animação-para-direita {
  animation: slideParaDireita 0.5s ease-out;
}

@keyframes slideParaEsquerda {
  from {
    transform: translateX(100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animação-para-esquerda {
  animation: slideParaEsquerda 0.5s ease-out;
}

@keyframes moverAcima {
  0% {
    opacity: 0;
    transform: translateY(0.1rem);
  }

  50% {
    transform: translateY(-1.2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
