* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(10, 10, 10);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(173, 42, 42);
  border-radius: 30px;
}

/*  Animações - Opacidade */
@keyframes opacidadeAparição {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animação-opacidade {
  animation: opacidadeAparição 1.5s;
}

/* Animações - Aparição de Seção */
@keyframes slideParaCima {
  from {
    opacity: 0;
    transform: translateY(9rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.section-aparição {
  animation: slideParaCima 1s;
}

/* Animações - Direita */
@keyframes slideParaDireita {
  from {
    transform: translateX(-100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animação-para-direita {
  animation: slideParaDireita 0.5s;
}

/* Animações - Esquerda */
@keyframes slideParaEsquerda {
  from {
    transform: translateX(100px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animação-para-esquerda {
  animation: slideParaEsquerda 0.5s;
}

.background {
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, rgb(49, 0, 0), rgb(0, 0, 0));
}

.estilo-cabeçalho {
  display: flex;
  justify-content: space-between;
  height: 100px;
  width: 100%;
  align-items: center;
  padding: 30px 30px;
  background-color: rgb(20, 20, 20);
  position: fixed;
  z-index: 100;
  box-shadow: 1px 1px 5px black;
}

.estilo-cabeçalho h1 {
  color: rgba(255, 255, 255, 0.692);
  font-weight: 500;
  font-size: 1.3rem;
  padding: 1rem 2rem 1rem 2rem;
}

.estilo-cabeçalho h1:hover {
  color: rgb(255, 69, 69);
  transition: 0.3s;
}

ul {
  display: flex;
  gap: 2rem;
  padding: 0 2rem 0 1rem;
  list-style-type: none;
}

.estilo-cabeçalho a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.692);
  padding: 10px;
  font-weight: bold;
}

a:hover {
  color: rgb(255, 69, 69);
  border-bottom: 1px solid red;
  transition: 0.3s all;
}

#inicio {
  display: flex;
  flex-flow: row wrap;
  height: calc(100vh - 100px);
  align-items: center;
  justify-content: center;
  gap: 6em;
}

.apresentação-inicial {
  display: flex;
  flex-flow: column wrap;
  padding: 1rem 1rem 1rem 4rem;
}

.apresentação-inicial h2 {
  padding-top: 10px;
  padding-bottom: 1.2em;
  font-weight: 600;
}

span {
  color: rgb(255, 69, 69);
}

.desenvolvedor {
  font-size: 2.5rem;
  padding-bottom: 30px;
}

.apresentação-inicial p {
  max-width: 90%;
  line-height: 1.5rem;
  padding-bottom: 30px;
}

.redes {
  display: flex;
  flex-flow: row wrap;
  gap: 1.5em;
}

.redes a {
  color: white;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  border: 1px solid white;
  border-radius: 5px;
  padding: 0.7rem 1rem 0.7rem 1rem;
  transition: 0.3s all;
}

.redes .linkedin:hover {
  color: rgb(131, 197, 219);
  border: 1px solid rgb(131, 197, 219);
  transform: translateY(-3px);
  transition: 0.3s all;
}

.redes .github:hover {
  color: blueviolet;
  border: 1px solid blueviolet;
  transform: translateY(-3px);
  transition: 0.3s all;
}

.section {
  padding-top: 5rem;
  width: 100%;
}

.esconder {
  opacity: 0;
}

.background-sobremim,
.background-projetos {
  background: linear-gradient(135deg, rgb(0, 0, 0), rgb(49, 0, 0));
  width: 100%;
}

.titulo {
  display: flex;
  justify-content: center;
  padding: 40px;
  font-size: 2.5rem;
  font-weight: 600;
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 0px 6rem;
}

.texto {
  padding: 20px;
  margin: 2rem;
  line-height: 1.7rem;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
}

.texto-sobre-mim {
  width: 50%;
}

.meu-nome {
  display: block;
  text-align: center;
  margin: 0px auto 20px auto;
  padding-bottom: 10px;
  border-bottom: 3px solid rgb(255, 69, 69);
  margin-bottom: 20px;
}

#minha-foto {
  padding: 10px;
  width: 23%;
}

#minha-foto img {
  border-radius: 50px 0px 0px 50px;
  border-right: 5px solid darkred;
  width: 100%;
}

/* FORMAÇÃO ACADÊMICA */
.row.formação {
  padding: 0;
  margin: 1.5rem;
}

.titulo.formação {
  text-align: center;
  color: rgb(219, 219, 219);
  width: 100%;
  margin-top: 2rem;
}

.row .formação-conteiner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem 1.7rem;
  padding-bottom: 2.5rem;
  border-radius: 3px;
}

.texto.sobre-formação {
  text-align: center;
  width: 80%;
  margin: 1rem 2rem 1rem 2rem;
}

.formação-atual {
  font-size: 1.7rem;
  text-align: center;
  margin-top: 2rem;
  font-weight: 500;
  color: goldenrod;
  padding: 1rem 1rem 0 1rem;
}

.formação-cursos {
  color: rgb(221, 221, 221);
  border: 2px solid rgb(43, 43, 43);
  border-radius: 0.5rem;
  padding: 1.5rem;
  width: 300px;
  transition: 0.3s all;
}

.formação-cursos:hover {
  border: 2px solid rgb(92, 24, 24);
  transition: 0.3s all;
}

/*  HABILIDADES  */
.background.background-habilidades,
.row.habilidades {
  height: auto;
}

.container-habilidades {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 80%;
}

.nome-habilidades {
  padding-top: 0.5rem;
  font-weight: 600;
  color: rgb(194, 194, 194);
}

.informações-habilidades {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 300px;
  padding-top: 15px;
  margin: 1rem 0 1.5rem 0;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s all;
}

.informações-habilidades:hover {
  box-shadow: 0px 0px 22px 2px rgb(1, 1, 78);
  background-color: rgba(0, 7, 10, 0.473);
  transition: 0.3s all;
}

.habilidades-icones {
  display: block;
  width: 130px;
  height: 130px;
  transition: 0.3s all;
}

.habilidades-icones:hover {
  width: 140px;
  height: 145px;
  transition: 0.4s all;
}

.informações-habilidades button {
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.informações-habilidades h3 {
  font-size: 1.4rem;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.texto-habilidades {
  color: rgb(194, 194, 194);
  text-align: center;
  line-height: 1.5rem;
  padding: 15px;
  background-color: rgb(0, 0, 0);
  border-top: 3px solid rgb(255, 69, 69);
  border-radius: 10px;
  transition: 0.4s all;
}

.txt-escondido {
  opacity: 0;
  visibility: hidden;
  height: 0px;
  transform: translateY(-1rem);
}

.texto-habilidades.css {
  border-top: 3px solid rgb(94, 164, 245);
}

.texto-habilidades.javascript {
  border-top: 3px solid goldenrod;
}

.texto-habilidades.react {
  border-top: 3px solid rgb(10, 192, 238);
}

.background-projetos {
  overflow-y: hidden;
}

.bloco-projetos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80%;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 1rem;
  margin-bottom: 2rem;
  border: 2px solid rgb(43, 43, 43);
}

.row-reverso {
  flex-wrap: wrap-reverse;
}

.informações-projeto {
  width: 50%;
  margin: inherit;
  line-height: 1.4rem;
  padding: 1rem;
}

.titulo-projeto {
  text-align: center;
  font-size: 1.7rem;
  padding: 20px;
}

.titulo-tecnologias {
  color: rgb(158, 208, 226);
  padding-bottom: 10px;
  font-size: 1rem;
  margin-top: 1rem;
}

.lista-tecnologias {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}

.tecnologias {
  display: block;
  width: 3.5rem;
  margin: 0px 5px 0px 5px;
}

.tecnologias:hover {
  opacity: 0.5;
  transition: 0.4s all;
}

.imagem-projeto {
  width: 45%;
  border-radius: 10px 10px;
  transition: 0.3s all;
}

.imagem-projeto:hover {
  transform: scale(1.05);
  transition: 0.3s all;
}

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container-contato {
  margin: 2rem auto 2rem auto;
  padding: 2.5rem;
  width: 50%;
}

.container-contato form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.estilo-contato {
  border: 0;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 0.5rem;
  outline: none;
  height: 2.4rem;
  color: inherit;
  background-color: rgb(32, 32, 32);
}

.mensagem {
  height: 10rem;
  margin-bottom: 2rem;
}

form button {
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid rgb(119, 119, 119);
  border-radius: 3px;
  color: inherit;
  width: 60%;
  align-self: center;
}

form button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  transition: 0.4s all;
}

.estilo-cabeçalho.rodape {
  background: linear-gradient(45deg, rgb(12, 12, 12), rgb(19, 19, 19));
  position: static;
  justify-content: center;
}

.creditos {
  font-weight: 400;
  font-size: 1.2rem;
}

/*  10 - Breakpoints  */
@media screen and (max-width: 1024px) {
  #minha-foto {
    width: 30%;
  }

  .informações-habilidades {
    font-size: 0.9rem;
    width: 250px;
  }

  .habilidades-icones {
    width: 110px;
    height: 110px;
  }

  .habilidades-icones:hover {
    width: 120px;
    height: 125px;
  }

  .imagem-projeto {
    width: 60%;
  }

  .informações-projeto {
    width: 35%;
    font-size: 0.8rem;
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .estilo-cabeçalho {
    position: static;
  }

  .apresentação-inicial,
  .texto {
    font-size: 0.9rem;
    align-items: center;
    text-align: center;
  }

  .desenvolvedor,
  .titulo {
    font-size: 1.8rem;
  }

  .texto-sobre-mim {
    width: 85%;
  }

  #minha-foto {
    width: 45%;
  }

  #minha-foto img {
    border-radius: 50%;
  }

  .container-habilidades {
    width: 100%;
  }

  .informações-projeto,
  .imagem-projeto {
    width: 90%;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  * {
    font-size: 0.9rem;
  }

  nav {
    visibility: hidden;
  }

  .titulo {
    padding-bottom: 0.5rem;
  }

  .texto,
  .texto.sobre-formação {
    width: 100%;
    margin: 1rem 0 1rem 0;
  }

  #minha-foto {
    width: 65%;
  }

  .habilidades-icones {
    width: 90px;
    height: 90px;
  }

  .habilidades-icones:hover {
    width: 100px;
    height: 105px;
  }

  .bloco-projetos,
  .imagem-projeto {
    width: 100%;
  }

  .bloco-projetos {
    padding-bottom: 0;
  }
}
