@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --color-primary: #ffd369;

  --color-secundary: #eeeeee;
  --color-secundary-2: #c0c0c0;

  --color-tertiary: #eeeeee;
  --color-extra: #181a1f;
  --color-background: #101316;
}

/**************** RESET ******************/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
input,
button,
textarea {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
textarea {
  width: 100%;
  outline: none;
}

button {
  cursor: pointer;
}

/*************************************/
html {
  font-size: 62.5%;
  line-height: 1.5;
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  color: var(--color-secundary-2);
  background-color: var(--color-background);
  overflow-x: clip;
}

::-webkit-scrollbar {
  width: 0.9rem;
  background-color: var(--color-background);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 3rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #daa52a;
}

.gold {
  color: var(--color-primary);
}

.container {
  max-width: 110rem;
  padding-inline: 3rem;
  margin: 0 auto;
}

.container-2 {
  max-width: 156.7rem;
  padding-inline: 3rem;
  margin: 0 auto;
}

.svg-container {
  display: flex;
  align-items: center;
}

.padding-y {
  padding-block: 7rem;
}

.title {
  color: var(--color-secundary);
  font-size: 3.8rem;
  font-weight: 400;
  padding-bottom: 4.5rem;
  letter-spacing: 0.1rem;
  line-height: 1;
  display: flex;
  gap: 1rem;
  align-items: center;
}

/********************* HEADER ***********************/
.header {
  display: flex;
  align-items: center;
  height: 7.2rem;
  width: 100%;
  z-index: 100;
  color: var(--color-secundary);
  position: fixed;
  top: 0;
  font-weight: 500;
  letter-spacing: 0.1rem;
  transition: height 0.3s, opacity 0.3s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: var(--color-background);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-name {
  gap: 0.5rem;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  transition: all 0.3s;
  animation: opacityAnime 0.5s backwards;
  color: var(--color-primary);
}

.header-name-span {
  color: var(--color-secundary);
}

.header-name:hover {
  color: var(--color-primary);
}

.navbar-list {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.navbar-link {
  padding: 0.5rem;
  transition: all 0.3s;
  position: relative;
}

.navbar-link:hover {
  color: var(--color-primary);
}

.navbar-link::after {
  content: '';
  scale: 0;
  border: 1px solid var(--color-primary);
  width: 100%;
  border-radius: 1px;
  transition: all 0.3s;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
}

.navbar-link:hover::after {
  scale: 1;
}

.btn-menu {
  color: var(--color-slate-3);
}

.hidden {
  display: none;
}

.btn-menu {
  display: none;
  width: 4rem;
  height: 4rem;
  color: var(--color-slate-3);
}

.btn-menu:focus {
  color: var(--color-primary);
}

/********************* HERO ***********************/
.hero {
  background-color: var(--color-extra);
  min-height: 65vh;
  display: grid;
  padding-top: 12.2rem;
  background-image: linear-gradient(
    to top,
    #101316,
    #121518,
    #14171b,
    #16181d,
    #181a1f
  );
}

.hero-container {
  display: grid;
  width: 100%;
  position: relative;
  z-index: 10;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hero-content {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.hero-title {
  line-height: normal;
  color: var(--color-secundary);
}

.hero-dev {
  font-size: 4.2rem;
  display: block;
  font-weight: 400;
  animation: opacityAnime 0.4s ease-in-out 0.3s backwards;
}

.hero-name {
  font-size: 9rem;
  font-weight: 400;
  letter-spacing: normal;
  animation: opacityAnime 0.4s ease-in-out 0.7s backwards;
}

.hero-description {
  font-size: 2rem;
  width: 80rem;
  animation: opacityAnime 0.4s ease-in-out 0.7s backwards;
}

.hero-list {
  align-items: end;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.list-item {
  color: var(--color-primary);
  background-color: #1a1f24;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 50%;
  overflow: clip;
}

.link {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  padding: 1.75rem;
  transition: all 0.3s;
}

.link:hover {
  background-color: var(--color-extra);
  color: var(--color-secundary);
}

.link:active {
  background-color: var(--color-background);
  color: var(--color-secundary-2);
}

/********************* ABOUT ************************/
.section {
  transition: transform 1s, opacity 1s;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 6rem;
}

.about-text {
  grid-column: span 8;
  border-radius: 1rem;
  padding-right: 3rem;
}

.about-history {
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(255, 255, 255, 0.219);
}

.paragraph {
  margin-bottom: 1.6rem;
}

.about-photo {
  position: relative;
  overflow: clip;
  grid-column: span 4;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  rotate: 2deg;
  border: 2px solid #1c2125;
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.photo {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  object-position: top;
  object-fit: cover;
}

.academic {
  margin-top: 3rem;
  border-radius: 5px;
}

.academic-title {
  color: var(--color-secundary);
  font-weight: 400;
  padding-bottom: 1.5rem;
}

/******************** EXPERIENCE **********************/
.experience-title {
  font-size: 2.4rem;
  font-weight: 500;
}

.experience-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  padding-inline: 4rem;
  position: relative;
}

.experience-deco {
  position: absolute;
  top: 3px;
  left: 1.1rem;
  transform: translateX(-50%);
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color-primary);
  display: block;
  border-radius: 50%;
}

.experience-container::before {
  content: '';
  width: 2px;
  height: 100%;
  background-color: #88888869;
  position: absolute;
  top: 3px;
  left: 1rem;
}

.company {
  font-size: 2.4rem;
  font-weight: 600;
  color: var(--color-secundary);
}

.contract-type {
  padding-bottom: 0.5rem;
  line-height: 1;
}

.experience-timeline {
  display: flex;
  grid-column: span 2;
  flex-direction: column;
  gap: 0.5rem;
}

.experience-date {
  padding-top: 1rem;
}

.experience-info {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.experience-tech-title {
  font-size: 1.8rem;
  color: var(--color-secundary);
  font-weight: 400;
  padding-block: 2rem;
}

.experience-tech-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.experience-tech {
  width: 3.2rem;
  height: 3.2rem;
  aspect-ratio: 1 / 1;
}

/********************* PROJECTS ***********************/
.projects {
  display: grid;
  justify-items: end;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem 2rem;
}

.projects-section {
  background-color: var(--color-background);
}

.project-container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  color: var(--color-secundary);
  border: 1px solid #21282e;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px 0px;
}

.project-container::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.project-title {
  font-size: 2.2rem;
  font-weight: 500;
  position: relative;
}

.project-link {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  aspect-ratio: 3 / 2;
  overflow: hidden;
  background-color: var(--color-extra);
}

.project-image {
  display: block;
  object-fit: cover;
  width: 100%;
  transition: 0.3s all;
}

.project-image:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.project-info {
  flex: 1;
  width: 100%;
  display: grid;
  gap: 2rem;
  padding-inline: 2rem;
  padding-block: 2rem;
}

.list-tech {
  display: flex;
  flex-wrap: wrap;
  padding-top: 2rem;
  gap: 1rem;
}

.tech-item {
  display: flex;
  color: var(--color-secundary);
  align-items: center;
  font-size: 1.2rem;
  gap: 1rem;
  background-color: #18273d8a;
  padding: 0.5rem 1.5rem;
  border-radius: 3rem;
  transition: 0.2s all;
}

.tech-icon {
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.project-links {
  display: grid;
  align-items: end;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.code-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
  font-weight: 400;
  background-color: var(--color-extra);
  color: var(--color-secundary);
  padding: 1.5rem 2.8rem;
  border-radius: 0.5rem;
  transition: color 0.3s;
}

.code-link:hover {
  color: var(--color-primary);
}

/*********************  SKILLS  ************************/
.tech-title {
  font-size: 2.4rem;
  grid-column: span 4;
  background-color: var(--color-extra);
  padding: 4rem;
  border-radius: 1rem;
  font-weight: 500;
  color: var(--color-primary);
}

.front {
  grid-column: span 8;
}

.back {
  grid-column: span 6;
}

.tools {
  grid-column: span 6;
}

.skills-item {
  display: flex;
  flex-flow: column;
  gap: 3.5rem;
  padding: 3.5rem 2rem;
  border-radius: 5px;
  background-color: var(--color-extra);
}

.skills-title {
  color: var(--color-secundary);
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  gap: 1rem;
}

.skills-svg {
  padding: 2.5rem;
  border-radius: 50%;
}

.skills-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.4rem;
}

.skills-list-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: var(--color-slate-3);
  transition: 0.2s all;
  overflow: clip;
}

.skills-icon {
  object-fit: cover;
  aspect-ratio: 1/1;
}

.skills-list-item:hover {
  color: var(--color-white);
}

/******************** CONTACT ***********************/

/******************** FOOTER ************************/
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  color: var(--color-secundary-2);
}

.footer-madeby {
  font-size: 2rem;
  font-weight: 500;
}

.footer-links-list {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.footer-link-item {
  display: flex;
  align-items: center;
  transition: 0.2s all;
}

.footer-link-item:hover {
  transform: scale(1.1);
  color: var(--color-primary);
}

.footer-link-item:active {
  color: var(--color-secundary);
}

/****************  MEDIA QUERIES  *********************/
@media screen and (max-width: 1280px) {
  body {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 1024px) {
  .fixed.header {
    height: 6rem;
  }

  .container {
    max-width: 90rem;
  }

  .hero-name {
    font-size: 4rem;
  }

  .hero {
    padding-inline: 4rem;
    justify-content: space-between;
  }

  .hero-description {
    font-size: 1.6rem;
  }

  .svg-hero {
    width: 2.6rem;
    height: 2.6rem;
  }

  .about-text {
    margin-left: 0rem;
  }

  .about-photo {
    max-width: 22rem;
    margin-right: 1.5rem;
  }

  .projects {
    gap: 6rem 4rem;
  }

  .project-title {
    font-size: 2.5rem;
  }

  .skills {
    padding-inline: 7rem;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  }

  .skills-icon {
    width: 5.2rem;
    height: 5.2rem;
  }

  .contact {
    padding-inline: 0;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding-inline: 2.4rem;
  }

  .navbar-list {
    font-size: 1.6rem;
    padding: 3rem;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    background-color: var(--color-slate);
    gap: 5rem;
    justify-content: center;
    transition: all 0.4s;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
  }

  .mobile-open {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }

  .btn-menu {
    display: block;
    position: relative;
    z-index: 5;
  }

  .hero-container {
    max-width: 100%;
  }

  .about-container {
    grid-template-columns: 1fr;
    gap: 6rem;
    margin-top: 0rem;
    margin-bottom: 4rem;
  }

  .about-text {
    grid-column: 1;
  }

  .about-photo {
    justify-self: center;
  }

  .projects {
    grid-template-columns: 1fr;
  }

  .project-container {
    max-width: 50rem;
    margin-inline: auto;
  }

  .item-span {
    grid-column: initial;
  }

  .skills {
    padding-inline: 0rem;
    grid-template-columns: 1fr;
  }

  .footer-madeby {
    font-size: 1.6rem;
  }
}

@media screen and (max-width: 480px) {
  .header-name {
    font-size: 1.8rem;
  }

  .hero-dev {
    font-size: 2.4rem;
  }

  .hero-name,
  .section-title {
    font-size: 3.2rem;
  }

  .section-title {
    padding-block: 3rem;
  }

  .hero-list {
    gap: 2rem;
  }

  .about-name {
    font-size: 2rem;
  }

  .project-info {
    padding-inline: 2rem;
  }
}

/*************** ANIMATIONS ********************/
@keyframes slideRight {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-right {
  animation: slideRight 0.5s ease-in-out;
}

@keyframes slideLeft {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-left {
  animation: slideLeft 0.5s ease-in-out;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(0.3rem);
  }

  50% {
    transform: translateY(-2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes opacityAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
